[req]
distinguished_name = req_distinguished_name
x509_extension = v3_req
prompt = no

[req_distinguished_name]
C = IN
ST = State
L = City
O = Organization
OU = OrgUnit
CN = localhost

[v3_req]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = DNS:localhost, DNS:auth-server.local
