$font-body: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-mono: "Robot Mono", monospace;

$clr-dark-a0: #000000;
$clr-light-a0: #ffffff;

$clr-primary-a0: #714aae;
$clr-primary-a10: #825db7;
$clr-primary-a20: #9270c0;
$clr-primary-a30: #a284c9;
$clr-primary-a40: #b197d3;
$clr-primary-a50: #c1abdc;

$clr-surface-a0: #121212;
$clr-surface-a10: #282828;
$clr-surface-a20: #3f3f3f;
$clr-surface-a30: #575757;
$clr-surface-a40: #717171;
$clr-surface-a50: #8b8b8b;

$clr-surface-tonal-a0: #1b1820;
$clr-surface-tonal-a10: #302d35;
$clr-surface-tonal-a20: #46444b;
$clr-surface-tonal-a30: #5e5b62;
$clr-surface-tonal-a40: #77747a;
$clr-surface-tonal-a50: #908f93;

$column-width: 42rem;
$column-margin-top: 4rem;
